<center>
    <div id="content">
        <div style="text-align: left; padding: 0;">
        <h1 style="font: normal 179% 'century gothic', arial, sans-serif;color: blueviolet;"></h1>
        <p>
            <div style="font-weight: bold;">Thank you for shopping With Us</div>
            <p></p>
            <a href="/products">Go Back To Shopping</a>
        </p>
    </div>
    </div>
</center>